           <% posts.each do |post| %>
            <div class="col mb-3">
              <div class="card h-100">

                <div class="card-header">
                  <p class="card-header small"><%= post.created_at.strftime('%Y/%m/%d')%><br>投稿者：<%= post.member.name%></p>
                    <% if current_page?(controller: 'posts', action: 'index' ) %>
                       <%= link_to post_path(post.id) do %>
                          <%= image_tag post.get_image(50,50), class: "bd-placeholder-img card-img-top" %>
                       <% end %>
                    <% else %>
                       <%= link_to post_path(post) do %>
                          <%= image_tag post.get_image(50,50), class: "bd-placeholder-img card-img-top" %>
                       <% end %>
                    <% end %>
                </div>

                <div class="card-body">
                  <p class="card-title font-weight-bold small"><%= post.title %></p>
                  <div class="tag-name small", style="width: 100px; height: 30px; "><p style="font-size: 10px;"><%= post.tag.name %></p></div>
                  <p class="card-subtitle mb-2 text-muted small">場所：　<%= post.region.name%>　<%= post.place%></p>
                  <p class="small">コメント件数：<%= post.post_comments.count %></p>
                  <% if member_signed_in? %>
                    <% if post.favorited_by?(current_member) %>
                      <p class="text-right">
                        <%= link_to post_favorites_path(post), method: :delete do %>
                          <i class="fas fa-heart heart_red"></i><%= post.favorites.count %>いいね
                        <% end %>
                      </p>
                    <% else %>
                      <p class="text-right">
                        <%= link_to post_favorites_path(post), method: :post do %>
                          <i class="fas fa-heart normal_heart"></i><%= post.favorites.count %>いいね
                        <% end %>
                      </p>
                    <% end %>
                  <% end %>
                </div>

              </div>
            </div>
           <% end %>