<div class="container">
   <%= flash[:notice] %>
  <h2 class="mt-4 mb-4"><i class="fas fa-car-side"></i>みんなのおでかけスポット</h2>
  <span>全<%= @count %>件</span>

  <div class="row">
    <div class="col-md-9">
        <div class="row row-cols-1 row-cols-md-3">
          <%= render "index", posts: @posts %>
        </div>
        <div>
          <%= paginate @posts %>
        </div>
    </div>
    <div class="col-lg-3 tag-area", style="height: 480px;">
      <%= render "tag_search", tags: @tags %>
    </div>
  </div>
</div>


