<div class="container-fluid">
   <%= flash[:notice] %>

  <h3 class="mt-4 mb-4"><i class="fas fa-car-side"></i>みんなのおでかけスポット</h3>
  <div class="row">
    <div class="col-lg-2 text-right my-auto">
      <span class="my-auto mr-3">全<%= @count %>件</span>
    </div>
    <div class="col-lg-3">
      <% unless params[:tag_id].present? %>
        <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
          <div class="mb-3 mt-3">
          <%= select_tag("sort", options_for_select([['--並べ替え選択--', ''], ['いいねが多い順', 'favorite'], ['日付が新しい順', 'newpost']])) %>
          <%= submit_tag '並べ替える', class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 col-8 mx-auto tag-area", style="max-height: 480px;">
      <%= render "tag_search", tags: @tags %>
    </div>
    <div class="col-md-8 col-10 mx-auto">
        <div class="row row-cols-1 row-cols-md-3">
          <%= render "index", posts: @posts %>
        </div>
        <div>
          <%= paginate @posts %>
        </div>
    </div>
    <div class="col-lg-1"></div>

  </div>
</div>


