<div class="container">
  <div class="row">

    <div class="col-md-6 mt-4">
      <div class="card bg-light">
        <h5 class="card-header"><%= @post.created_at.strftime('%Y/%m/%d')%> | 投稿者：<%= @post.member.name%></h5>
        <%= image_tag @post.get_image(400,400), class: "bd-placeholder-img card-img-top card-image" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold "><%= @post.title %></h5>
          <div class="tag-name"><p><%= @post.tag.name %></p></div>
          <h6 class="card-subtitle mb-2 text-muted">場所：　<%= @post.region.name%>　<%= @post.place%></h6>
          <p class="card-text"><%= @post.caption %></p>
          <% if current_member.id == @post.member.id %>
            <%= link_to "編集する", edit_post_path(@post), class: "card-link btn btn-secondary rounded-pill" %>
            <%= link_to "削除する", post_path(@post), method: :delete, class: "card-link btn btn-danger rounded-pill" %>
          <% end %>
          <% if @post.favorited_by?(current_member) %>
            <p>
              <%= link_to, post_favorites_path(@post), method: :delete do %>

            </p>

        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>

    <div class="col-md-6">

    </div>

  </div>
</div>
