<div class="container">
  <div class="row">

    <div class="col-md-8 mt-4">
      <div class="card bg-light shadow">
        <h5 class="card-header"><%= @post.created_at.strftime('%Y/%m/%d')%> | 投稿者：<%= @post.member.name%></h5>
        <%= image_tag @post.get_image(400,400), class: "bd-placeholder-img card-img-top card-image" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold "><%= @post.title %></h5>
          <div class="tag-name"><p><%= @post.tag.name %></p></div>
          <h6 class="card-subtitle mb-2 text-muted">場所：　<%= @post.region.name%>　<%= @post.place%></h6>
          <p class="card-text"><%= @post.caption %></p>
          <% if member_signed_in? %>
            <% if current_member.id == @post.member.id %>
              <%= link_to "編集する", edit_post_path(@post), class: "card-link btn btn-secondary rounded-pill" %>
              <%= link_to "削除する", post_path(@post), method: :delete, class: "card-link btn btn-danger rounded-pill" %>
            <% end %>
          <% end %>
          <% if member_signed_in? %>
            <% if @post.favorited_by?(current_member) %>
              <p class="text-right">
                <%= link_to post_favorites_path(@post), method: :delete do %>
                  <i class="fas fa-heart fa-3x heart_red"></i><%= @post.favorites.count %>いいね
                <% end %>
              </p>
            <% else %>
              <p class="text-right">
                <%= link_to post_favorites_path(@post), method: :post do %>
                  <i class="fas fa-heart fa-3x normal_heart"></i><%= @post.favorites.count %>いいね
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4">
      <div class="row justify-content-center">コメント件数：<%= @post.post_comments.count %></div>
      <div class="bg-light shadow overflow-auto">
        <% @post.post_comments.each do |post_comment| %>
        <div class="ml-4">
          <p><%= image_tag post_comment.member.get_profile_image(30,30), class: "rounded-circle img-thumbnail border-secondary mt-4" %></p>
          <%= post_comment.member.name %> |
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
          <%= post_comment.comment %>
          <%= link_to "削除", post_post_comment_path(post_comment.post,post_comment), method: :delete, class:"btn btn-danger btn-sm" %>
        </div>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントをここに", class: 'form-control' %>
          <%= f.submit "送信する", class:"btn btn-secondary mt-1" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
