<div class="container">
  <div class="row">
     <%= flash[:notice] %>
    <div class="col-md-8 mt-4">
      <div class="card bg-light shadow">
        <h5 class="card-header">
          <%= @post.created_at.strftime('%Y/%m/%d')%> | 投稿者：
          <%= link_to member_path(@member) do %>
            <%= @post.member.name%>
          <% end %>
        </h5>
        <%= image_tag @post.get_image(400,400), class: "bd-placeholder-img card-img-top card-image" %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold "><%= @post.title %></h5>
          <div class="tag-name"><p><%= @post.tag.name %></p></div>
          <h6 class="card-subtitle mb-2 text-muted">場所：　<%= @post.region.name%>　<%= @post.place%></h6>
          <p class="card-text"><%= @post.caption %></p>
          <% if member_signed_in? %>
            <% if current_member.id == @post.member.id %>
              <%= link_to "編集する", edit_post_path(@post), class: "card-link btn btn-secondary rounded-pill" %>
              <%= link_to "削除する", post_path(@post), method: :delete, class: "card-link btn btn-danger rounded-pill" %>
            <% end %>
          <% end %>
          <span id="favorite_btn_<%= @post.id%>">
            <%= render "public/posts/favorites", post: @post %>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4">
      <div class="row justify-content-center">コメント件数：<%= @post.post_comments.count %></div>
      <div class="bg-light shadow overflow-auto", style="height: 400px;">
        <div id="post_comments_area">
          <%= render "public/post_comments/comments", post: @post %>
        </div>
      </div>
      <div class="mt-4">
        <div id="post_comments_form">
          <%= render "public/post_comments/comment_form", post: @post, post_comment: @post_comment %>
        </div>
      </div>
    </div>

  </div>
</div>
