<% post.post_comments.each do |post_comment| %>
  <div class="ml-4 pb-4">
    <p><%= image_tag post_comment.member.get_profile_image(30,30), class: "rounded-circle img-thumbnail border-secondary mt-2" %></p>
    <%= post_comment.member.name %> |
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
    <%= post_comment.comment %>
    <% if member_signed_in? %>
      <% if current_member.id == post_comment.member.id %>
        <%= link_to post_post_comment_path(post_comment.post,post_comment),method: :delete, remote: true, class:"btn btn-outline-danger btn-sm" do %>
          <i class="fas fa-trash-alt trash"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>