<header class="background-color: #f0fff0;">
  <nav class="navbar navbar-expand-xl  navbar-light justify-content-between", style=" border-bottom: solid; border-width: 3px; border-color: #a9a9a9;">
    <h1 class="logo">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', style: "width: 80%;" %>
      </a>
    </h1>

    <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "マイページへ", member_path(current_member.id), class: "nav-link mr-2" %></li>
        <li class="nav-item"><%= link_to "お出かけスポットを探す", posts_path, class: "nav-link mr-2" %></li>
        <li class="nav-item"><%= link_to "お出かけスポットを投稿する", new_post_path, class: "nav-link mr-2" %></li>
        <li class="nav-item"><%= link_to "About", about_path, class: "nav-link mr-2" %></li>
        <li class="nav-item"><%= link_to "お問い合わせ", inquiries_index_path, class: "nav-link mr-2" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "nav-link mr-2" %></li>
      </ul>
      <div class="d-none d-xl-block ml-auto mt-2">
        <%= render 'public/searches/search' %>
      </div>
    </div>

    <div class="d-block d-xl-none mx-auto mt-2">
      <%= render 'public/searches/search' %>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>